/* variabili movie-card */
$card-width: 200px;
$card-height: $card-width *3/2;

/* variabili main-layout */
$container-width: 6 * $card-width + 15; // + 15 x scrollbar


/* colori */
$background: #303443;
$text: #f9f9f9;
$input-background: #4b4e5a;
